@mixin responsive($breakpoints) {
  @if $breakpoints == m-tablet {
    @media screen and (max-width: 860px) {
      @content;
    }
  }
  @if $breakpoints == tablet {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoints == work {
    @media screen and (max-width: 670px) {
      @content;
    }
  }
  @if $breakpoints == m-phone {
    @media screen and (max-width: 445px) {
      @content;
    }
  }

  @if $breakpoints == phone {
    @media screen and (max-width: 375px) {
      @content;
    }
  }
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
