.hero {
  padding: 15.8rem 0 7.1rem;
  .container {
    @include flex;
    align-items: flex-start;
    @include responsive(tablet) {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
    }
  }
  .hero__wrapper {
    width: 49.7rem;
    h1 {
      padding-top: 2rem;
      width: 46rem;
      margin-bottom: 4rem;
      @include responsive(tablet) {
        width: 100%;
      }
    }
    p {
      margin-bottom: 3.8rem;
    }
    @include responsive(tablet) {
      width: 100%;
    }
  }
  &__btn {
    display: inline-block;
    padding: 12px 21px 17px;
    background-color: $color-primary;
    border-radius: 2px;
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.5;
  }
  &__btn:hover {
    opacity: 0.7;
  }
}
// hero end

.post {
  padding: 2.7rem 0 3.2rem;
  background-color: #edf7fa;
  .post__navbar {
    @include flex;
    margin-bottom: 2px;
    p {
      font-size: 2.2rem;
      line-height: 2.73;
    }
  }
  &__cards {
    @include flex;
    justify-content: center;
    gap: 2rem;
    @include responsive(m-tablet) {
      flex-direction: column;
    }
  }
  &__cards-box {
    width: 41.8rem;
    background-color: #fff;
    padding: 2.4rem 2.3rem;
    border-radius: 4px;
    h3 {
      width: 37.4rem;
      margin-bottom: 1.7rem;
      @include responsive(m-phone) {
        width: 30rem;
      }
      @include responsive(phone) {
        font-size: 2.2rem;
      }
    }
    .box-text {
      width: 36.8rem;
      @include responsive(m-phone) {
        width: 100%;
      }
    }

    @include responsive(m-phone) {
      width: 37rem;
    }
    @include responsive(phone) {
      width: 35.4rem;
    }
  }
  &__made {
    @include flex;
    gap: 2rem;
    justify-content: start;
    margin-bottom: 1.1rem;
    p {
      font-size: 1.8rem;
    }
    span {
      width: 1px;
      background-color: #000;
      height: 21px;
    }
  }
}
// post end

.work {
  margin-bottom: 7rem;
  padding: 1.5rem 0;
  .feature {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    line-height: 2.73;
  }
  &__cards-box {
    @include flex;
    align-items: flex-start;
    gap: 1.8rem;
    margin-bottom: 4.6rem;
    @include responsive(work) {
      flex-direction: column;
    }
    border-bottom: 1px solid $color-gray;
    padding-bottom: 3.2rem;
  }
  &__img {
    width: 246px;
    height: 180px;
    @include responsive(phone) {
      width: 33.9rem;
      height: 23rem;
    }
  }
  &__wrapper {
    h2 {
      margin-bottom: 2rem;
      @include responsive(work) {
        font-size: 2.5rem;
      }
      @include responsive(phone) {
        font-size: 2.4rem;
      }
    }
  }
  &__made {
    @include flex;
    justify-content: start;
    gap: 2.6rem;
    margin-bottom: 2.5rem;
    span {
      display: block;
      padding: 0 1rem;
      background-color: #142850;
      color: $color-white;
      font-weight: 900;
      font-size: 1.8rem;

      border-radius: 1.6rem;
      @include responsive(phone) {
        font-size: 1.6rem;
      }
    }
    p {
      color: $color-gray;
      font-size: 2rem;
      @include responsive(phone) {
        font-size: 1.6rem;
      }
    }
  }
}
// work end

footer {
  padding: 5.1rem 0 5.4rem;
  .network {
    @include flex;
    justify-content: center;
    gap: 3.5rem;
    margin-bottom: 2.6rem;
    .face path:hover {
      fill: #4267b2;
    }
    .insta path:hover {
      fill: #c13584;
    }
    .twit path:hover {
      fill: #1da1f2;
    }
    .linkedin path:hover {
      fill: #0077b5;
    }
  }
  .footer__text {
    text-align: center;
    font-size: 1.4rem;
  }
}
