.navbar {
  @include responsive(m-phone) {
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    @include flex;
  }
  .header__list {
    @include flex;
    justify-content: center;
    gap: 3.3rem;
    width: 240px;
    margin-left: auto;
    a {
      font-weight: 500;
      font-size: 2rem;
      color: #000;
      position: relative;
      &:hover,
      &:active {
        color: $color-primary;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 3px;
        background-color: $color-primary;
        transition: width 0.4s linear;
      }
      &:hover::after {
        width: 100%;
        // background-color: $color-secondary;
      }
      @include responsive(m-phone) {
        color: $color-white;
      }
    }
    .active {
      color: $color-primary;
    }
    .active::after {
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $color-primary;
    }

    @include responsive(m-phone) {
      flex-direction: column;
      width: 100%;
    }
  }
  @include responsive(m-phone) {
    width: 100%;
    margin-right: auto;
  }
}
