button {
  border: none;
  cursor: pointer;
}
.toogle_btn {
  background-color: transparent;
  outline: none;
  display: none;
  margin-left: auto;
  img {
    background-color: transparent;
  }
  @include responsive(m-phone) {
    display: block;
  }
}
.toogle__post {
  color: #00a8cc;
}
.toogle__work {
  display: none;
  @include responsive(m-phone) {
    display: block;
  }
}
.home_img {
  display: none;
  @include responsive(m-phone) {
    display: block;
  }
}
.nav_img {
  display: block;
  @include responsive(m-phone) {
    display: block;
  }
}
